<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>BikeStore</h1>
    <a href="rent" type="button">Locations</a> <br>
    <a href="info_client" type="button">Details des locations </a> <br>
    <a href="add_location" type="button">Ajouter une location </a> <br>
    <a href="rent" type="button">Detail du client</a> <br> 
    <a href="add_client" type="button">Ajouter un client </a> <br>
    <a href="vehicules" type="button">Liste des Vehicules </a> <br>






    <!-- <a href="rent" type="button">Liste des locations ici</a><br>
    <a href="rent" type="button">Liste des locations ici</a><br>
    <a href="rent" type="button">Liste des locations ici</a><br>
    <a href="rent" type="button">Liste des locations ici</a><br>

    <a href="rent" type="button">Liste des locations ici</a><br>

    <a href="rent" type="button">Liste des locations ici</a><br>

    <a href="rent" type="button">Liste des locations ici</a><br> -->

</body>
</html>